body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}

.backBtn{
    background-color: black;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backBtn i{
    background-color: black;
    color: white;
    font-size: 30px;
    
}

.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profileContainer img{
     width: 140px;    
     height: 140px;
}
.balanceContainer{

width: 150px;
height: 100px;

margin: 50px auto;
border: 1px solid gold;
border-radius: 15px;
}

.coinBox,.tonBox{
    display: flex;
    justify-content: space-around;
}

.wallet{
    margin: auto;
    width: 300px;
    height: 35px;
}

.walletBtn{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: rgb(34, 126, 183);
    color: white;
    cursor: pointer;
    
}

